/*
Color scheme:
- ocean boat blue : #067BC2;
- shiny shamrock: #5FAD56;
- dark pink: #EA526F;
- registration black: #070600;
- ghost white: #F7F7FF;
*/

body {
	background-color:#067BC2;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 100%;
}

h1 {70EC;
	font-family: sans-serif;
	
	
}

h2 {
	color: #F7F7FF;
	
}

footer {
	color: ##070600;
	
/*	background-color:tbd;*/
/*	font-size: 14px;*/
}
